/* editing the style of my website*/
.white {
    color:aliceblue;
}
.fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px rgb(87, 27, 82);
  }
#bear {
    color:rgba(111, 0, 202, 0.767);
}
textarea {
    border-style:dotted;
}
a[href*="huffpost"] {
    color: cyan;
}
nav {
    background-color: skyblue; 
}
#table {
    color:#f09;
}
#skills {
    color: hsl(270,60%,70%);
}
*.thanks {
    color: hsla(240, 100%, 50%, .7);
}
button:hover {
    color: blue;
  }
  a:visited {
    color: purple;
  }